<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,240}</string>
                <key>spriteSourceSize</key>
                <string>{166,240}</string>
                <key>textureRect</key>
                <string>{{776,1010},{166,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,240}</string>
                <key>spriteSourceSize</key>
                <string>{158,240}</string>
                <key>textureRect</key>
                <string>{{288,1010},{158,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,253}</string>
                <key>spriteSourceSize</key>
                <string>{126,253}</string>
                <key>textureRect</key>
                <string>{{753,0},{126,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,244}</string>
                <key>spriteSourceSize</key>
                <string>{147,244}</string>
                <key>textureRect</key>
                <string>{{141,1010},{147,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,253}</string>
                <key>spriteSourceSize</key>
                <string>{126,253}</string>
                <key>textureRect</key>
                <string>{{879,0},{126,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,241}</string>
                <key>spriteSourceSize</key>
                <string>{126,241}</string>
                <key>textureRect</key>
                <string>{{0,254},{126,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,241}</string>
                <key>spriteSourceSize</key>
                <string>{125,241}</string>
                <key>textureRect</key>
                <string>{{0,0},{125,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,253}</string>
                <key>spriteSourceSize</key>
                <string>{126,253}</string>
                <key>textureRect</key>
                <string>{{126,254},{126,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,252}</string>
                <key>spriteSourceSize</key>
                <string>{126,252}</string>
                <key>textureRect</key>
                <string>{{252,254},{126,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,252}</string>
                <key>spriteSourceSize</key>
                <string>{126,252}</string>
                <key>textureRect</key>
                <string>{{378,254},{126,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,248}</string>
                <key>spriteSourceSize</key>
                <string>{141,248}</string>
                <key>textureRect</key>
                <string>{{0,1010},{141,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,246}</string>
                <key>spriteSourceSize</key>
                <string>{133,246}</string>
                <key>textureRect</key>
                <string>{{639,760},{133,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,209}</string>
                <key>spriteSourceSize</key>
                <string>{167,209}</string>
                <key>textureRect</key>
                <string>{{0,1258},{167,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,252}</string>
                <key>spriteSourceSize</key>
                <string>{126,252}</string>
                <key>textureRect</key>
                <string>{{504,254},{126,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,252}</string>
                <key>spriteSourceSize</key>
                <string>{126,252}</string>
                <key>textureRect</key>
                <string>{{630,254},{126,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,253}</string>
                <key>spriteSourceSize</key>
                <string>{126,253}</string>
                <key>textureRect</key>
                <string>{{756,254},{126,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,252}</string>
                <key>spriteSourceSize</key>
                <string>{126,252}</string>
                <key>textureRect</key>
                <string>{{882,254},{126,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,252}</string>
                <key>spriteSourceSize</key>
                <string>{126,252}</string>
                <key>textureRect</key>
                <string>{{0,507},{126,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,249}</string>
                <key>spriteSourceSize</key>
                <string>{133,249}</string>
                <key>textureRect</key>
                <string>{{772,760},{133,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,241}</string>
                <key>spriteSourceSize</key>
                <string>{130,241}</string>
                <key>textureRect</key>
                <string>{{509,760},{130,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,249}</string>
                <key>spriteSourceSize</key>
                <string>{128,249}</string>
                <key>textureRect</key>
                <string>{{253,760},{128,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,253}</string>
                <key>spriteSourceSize</key>
                <string>{126,253}</string>
                <key>textureRect</key>
                <string>{{126,507},{126,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,253}</string>
                <key>spriteSourceSize</key>
                <string>{126,253}</string>
                <key>textureRect</key>
                <string>{{252,507},{126,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,206}</string>
                <key>spriteSourceSize</key>
                <string>{167,206}</string>
                <key>textureRect</key>
                <string>{{167,1258},{167,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,252}</string>
                <key>spriteSourceSize</key>
                <string>{126,252}</string>
                <key>textureRect</key>
                <string>{{378,507},{126,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,252}</string>
                <key>spriteSourceSize</key>
                <string>{126,252}</string>
                <key>textureRect</key>
                <string>{{504,507},{126,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,253}</string>
                <key>spriteSourceSize</key>
                <string>{126,253}</string>
                <key>textureRect</key>
                <string>{{630,507},{126,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,253}</string>
                <key>spriteSourceSize</key>
                <string>{126,253}</string>
                <key>textureRect</key>
                <string>{{756,507},{126,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,243}</string>
                <key>spriteSourceSize</key>
                <string>{128,243}</string>
                <key>textureRect</key>
                <string>{{381,760},{128,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,240}</string>
                <key>spriteSourceSize</key>
                <string>{126,240}</string>
                <key>textureRect</key>
                <string>{{882,507},{126,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,244}</string>
                <key>spriteSourceSize</key>
                <string>{125,244}</string>
                <key>textureRect</key>
                <string>{{125,0},{125,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,247}</string>
                <key>spriteSourceSize</key>
                <string>{125,247}</string>
                <key>textureRect</key>
                <string>{{250,0},{125,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,250}</string>
                <key>spriteSourceSize</key>
                <string>{126,250}</string>
                <key>textureRect</key>
                <string>{{0,760},{126,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,203}</string>
                <key>spriteSourceSize</key>
                <string>{165,203}</string>
                <key>textureRect</key>
                <string>{{446,1010},{165,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,241}</string>
                <key>spriteSourceSize</key>
                <string>{165,241}</string>
                <key>textureRect</key>
                <string>{{611,1010},{165,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,241}</string>
                <key>spriteSourceSize</key>
                <string>{127,241}</string>
                <key>textureRect</key>
                <string>{{126,760},{127,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,252}</string>
                <key>spriteSourceSize</key>
                <string>{126,252}</string>
                <key>textureRect</key>
                <string>{{375,0},{126,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,253}</string>
                <key>spriteSourceSize</key>
                <string>{126,253}</string>
                <key>textureRect</key>
                <string>{{501,0},{126,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,254}</string>
                <key>spriteSourceSize</key>
                <string>{126,254}</string>
                <key>textureRect</key>
                <string>{{627,0},{126,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Player.png</string>
            <key>size</key>
            <string>{1008,1467}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f2dc64ee793b28ac7c169e25ec56be5:3da020c089248acf3b24d52e253ab9f1:18fcf80557a1b693f695decb3ad03513$</string>
            <key>textureFileName</key>
            <string>Player.png</string>
        </dict>
    </dict>
</plist>
